.ICEauthority
.PlayOnLinux/
.Xauthority
.asoundrc
.asoundrc.asoundconf
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.cat_installer/
.config/QtProject.conf
.config/autostart/
.config/chromium/
.config/configstore/
.config/dconf/
.config/deluge/
.config/eDEX-UI/
.config/epiphany/
.config/evolution/
.config/gconf/
.config/gnome-boxes/
.config/GIMP
.config/gtk-3.0/
.config/htop/
.config/inkscape/
.config/libvirt/
.config/llpp.conf
.config/lutris/
.config/mimeapps.list
.config/mopidy/
.config/neofetch/
.config/nvim/.netrwhist
.config/nvim/plugged/
.config/oni/
.config/oomox/
.config/pavucontrol.ini
.config/pikaur.conf
.config/plank/
.config/pulse/
.config/qBittorrent/
.config/qt5ct/
.config/rncbc.org/
.config/s-tui/
.config/spotify/
.config/transmission/
.config/vmpk.sourceforge.net/
.config/xmodmap/
.dmrc
.electron-gyp/
.electron/
.esd_auth
.fehbg
.gitconfig
.gnupg/
.gtkrc-2.0
.histfile
.icons/
.java/
.local/
.mozilla/
.ncmpcpp/
.node-gyp/
.npm/
.oracle_jre_usage/
.pki/
.pulse-cookie
.ssh/
.start.html
.steam/
.steampath
.steampid
.themes/
.xsession-errors
.xsession-errors.old
.zcompdump
.zcompdump-laptop-5.6.2
documents/
downloads/
media/
.Rack/
.bin/matlab
.bin/mouse
.calc_history
.config/cava/
.config/discord/
.gcalcli_cache
.gcalcli_oauth
.lyrics/
.matlab/
.minecraft/
.subversion/
.vbam/
.wget-hsts
.config/citra-emu/
.config/gtk-2.0/
.config/nautilus/
.config/totem/
.parallel/
.task/
.taskrc
.wine/
.config/Signal/
.python_history
.yarnrc
.zcompdump-laptop-5.7
desktop/
.config/unity3d/
.oldwine/
.zcompdump-laptop-5.7.1
chummer5e/
.android/
.byobu/
.mplayer/
.orpie/
mopidy-spotify-fix/
.cargo/
.cmake/
.codelite/
.config/Kitware/
.config/cef_user_data/
.config/dleyna-renderer-service.conf
.config/fontforge/
.config/fragments/
.config/libreoffice/
.config/menus/
.config/monitors.xml
.config/monitors.xml~
.config/mpv/
.config/nvim/spell/
.config/openrazer/
.config/polychromatic/
.config/razercommander/
.config/tel.red/
.config/wireshark/
.fetchmailrc
.jd/
.lesshst
.sky2/
.trackma/
.wine-appimage-lol/
