
! Set font
URxvt*font:xft:curie:pixelsize=13:antialias:false

! Appearance
URxvt.scrollBar: false
URxvt.internalBorder: 32
URxvt.letterSpace: 1
URxvt.saveLines: 20000

! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

! extensions
URxvt.perl-ext-common: default, matcher, clipboard
